{% extends 'layouts/base_user.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<main>
  <form method="post">
    {% csrf_token %}
    {% if error %}
      <p onclick="event.target.classList.add('hide')">
        ❗ {{ error }}
      </p>
    {% endif %}
    <h1>Inicio de sesión</h1>
    <section class="input_container">
      <div>
        <label for="name">Nombre</label>
        <input required name="username" id="name" type="name">
      </div>
      <div>
        <label for="password">Contraseña</label>
        <input required name="password" id="password" type="password">
      </div>
    </section>
    <button type="submit">Iniciar sesión</button>
    <a href="/register">No tienes una cuenta? registrate aquí</a>
  </form>
</main>
{% endblock %}
