{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index,follow">
    <meta name="description" content="Sitio web para recolectar la información general de los superheroes de Marvel">
    <meta name="author" content="Joshua Rodriguez, Anyela Auvert, Gabriel Moreno, Carlos Mirabal">
    <meta name="keywords" content="Marvel, Project, Spiderman, Capitan America, Iron Man, Thor">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Montserrat&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'imgs/logo.jpg' %}">
    <title>Marvel Project</title>
</head>
<body>
    <header>
        <img class="icon" src="{% static 'imgs/marvel.png' %}" alt="marvel_img">
        <div>
            <a class="nav-item" href="/">Home</a>
            <a class="nav-item" href="/catalogue">Catálogo</a>
            <a class="nav-item" href="/login">Iniciar sesión</a>
        </div>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        <h3>Todos los derechos reservados</h3>
        <i class="fa-brands fa-whatsapp"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
    </footer>
</body>
<script src="https://kit.fontawesome.com/37e8db3e05.js" crossorigin="anonymous"></script>
</html>