{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <main class="container">
    <section class="showcase">
      <h2>Proyecto Marvel:</h2>
      <p>
        Hola a todos y bienvenidos al mejor catalago de super heroes del Mundo, en
        donde podras ver todas y cada una de las caracteristicas de tu heroe
        favorito, así como su historia.
      </p>
    </section>
    <section>
      <div class="slider">
        <img src="{% static 'imgs/ironman_serie.jpg' %}" alt="" />
        <img src="{% static 'imgs/cap_serie.jpg' %}" alt="" />
        <img src="{% static 'imgs/thor.jpeg' %}" alt="" />
        <img src="{% static 'imgs/spiderman.jpeg' %}" alt="" />
      </div>
    </section>
  </main>
{% endblock %}