{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index,follow">
    <meta name="description" content="">
    <meta name="author" content="Carlosweb07">
    <meta name="keywords" content="Marvel, Project, Spiderman, Capitan America, Iron Man, Thor">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Montserrat&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'imgs/logo.jpg' %}">
    <title>Marvel Project</title>
</head>
<body>
    <header>
        <img class="icon" src="{% static 'imgs/marvel.png' %}" alt="marvel_img">
        <div>
            <a class="nav-item" href="/">home</a>
            <a class="nav-item" href="/catalogue">catalogue</a>
        </div>
    </header>
    <main class="container">
        <section class="showcase">
            <h2>Proyecto Marvel:</h2>
            <p>Hola a todos y bienvenidos al mejor catalago de super heroes del Mundo, en donde podras ver todas y cada una de las caracteristicas de tu heroe favorito, así como su historia.</p>
        </section>
        <section>
            <div class="slider">
                <img src="{% static 'imgs/ironman_serie.jpg' %}" alt="">
                <img src="{% static 'imgs/cap_serie.jpg' %}" alt="">
                <img src="{% static 'imgs/thor.jpeg' %}" alt="">
                <img src="{% static 'imgs/spiderman.jpeg' %}" alt="">
            </div>
        </section>
    </main>
    <footer>
        <h3>Todos los derechos reservados</h3>
        <i class="fa-brands fa-whatsapp"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
    </footer>
</body>
<script src="https://kit.fontawesome.com/37e8db3e05.js" crossorigin="anonymous"></script>
</html>