{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Acme&family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/heroe.css' %}">
  <link rel="icon" href="{% static 'imgs/logo.jpg' %}">
  <title>Thor</title>
</head>
<body>
  <header>
    <img class="icon" src="{% static 'imgs/marvel.png' %}" alt="">
    <div>
      <a class="nav-item" href="/">Home</a>
      <a class="nav-item" href="/catalogue">Catálogo</a>
    </div>
  </header>
  <main>
    <section class="main-info">
      <img class="heroe" src="{% static 'imgs/thor.png' %}" alt="">
      <div class="info">
        <h1>Thor</h1>
        <ul>
          <li>Fecha de nacimiento: 22 de mayo de 1970</li>
          <li>Sexo: Masculino</li>
          <li>Estatura: 1,98 m</li>
          <li>Peso: 290 kg</li>
          <li>Primera aparición: Viaje al misterio n.° 83
            (agosto de 1962)</li>
        </ul>
      </div>
    </section>
    <hr>
    <section>
      <h1>Historia</h1>
      <p>
        Thor es el hijo de Odín, padre de todos los dioses Asgardianos. No obstante su comportamiento arrogante y violento le valió un castigo divino enviándolo a la Tierra (Midgard) como un simple mortal. Pocos conocen este orígen de Thor: encarnado en un humano cojo y débil llamado Donald Blake. 
      </p>
      <p>
        Después de diez años en su identidad mortal, Donald encuentra el martillo de Mjolnir en una caverna de Noruega. Este contacto le hace recuperar su antigua esencia, a partir de entonces cada vez que Blake golpea su bastón contra el suelo se convierte en Thor
      </p>
    </section>
    <section class="main-info">
      <div>
        <h1>Habilidades</h1>
        <ul>
          <li>Fuerza sobrehumana</li>
          <li>longevidad y sentidos</li>
          <li>Manipulación del clima y la materia</li>
          <li>Manipulación de energía</li>
        </ul>
      </div>
      <div>
        <h1>Debilidades</h1>
        <ul>
          <li>Debilidad ante la magia</li>
          <li>No sentirse digno</li>
          <li>Vida ligada a Mjolnir</li>
        </ul>
      </div>
    </section>
    <section class="galery">
      <h1>Galeria</h1>
      <div class="carrusel">
        <div class="carrusel-item">
          <img src="{% static 'imgs/thor_peli.jpeg' %}" alt="">
          <span>Thor (Actuado por Christopher Hemsworth)</span>
        </div>
        <div class="carrusel-item">
          <img src="{% static 'imgs/Thor_comic_.jpeg' %}" alt="">
          <span>Thor (Comic)</span>
        </div>
        <div class="carrusel-item">
          <img src="{% static 'imgs/Thor_serie.jpg' %}" alt="">
          <span>Thor (Serie animada)</span>
        </div>
      </div>
    </section>
  </main>
  <footer>
    <h3>Todos los derechos reservados</h3>
    <i class="fa-brands fa-whatsapp"></i>
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-twitter"></i>
  </footer>
</body>
<script src="https://kit.fontawesome.com/37e8db3e05.js" crossorigin="anonymous"></script>
</html>