{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/catalogue.css' %}">
  <main>
    <h1>Catálogo</h1>
    <section>
      <div>
        <a href="/spiderman">
          <img src="{% static 'imgs/spiderman.jpeg' %}" alt="">
        </a>
        <h2>Spider Man</h2>
      </div>
      <div>
        <a href="/ironman">
          <img src="{% static 'imgs/ironman.jpeg' %}" alt="">
          <h2>Iron Man</h2>
        </a>
      </div>
      <div>
        <a href="/cap">
          <img src="{% static 'imgs/captainamerica.jpeg' %}" alt="">
          <h2>Capitan America</h2>
        </a>
      </div>
      <div>
        <a href="/thor">
          <img src="{% static 'imgs/thor.jpeg' %}" alt="">
          <h2>Thor</h2>
        </a>
      </div>
    </section>
  </main>
  {% endblock %}