{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/heroe.css' %}">
  <main>
    <section class="main-info">
      <img class="heroe" src="{% static 'imgs/ironman.png' %}" alt="">
      <div class="info">
        <h1>Iron Man</h1>
        <ul>
          <li>Fecha de nacimiento: 29 de mayo de 1970</li>
          <li>Sexo: Masculino</li>
          <li>Estatura: 1,85 m</li>
          <li>Peso: 102 kg</li>
          <li>Primera aparición: Tales of Suspense #39 (marzo de 1963)</li>
        </ul>
      </div>
    </section>
    <hr>
    <section>
      <h1>Historia</h1>
      <p>
        Anthony Edward "Tony" Stark fue un multimillonario industrial, anterior Director General de Industrias Stark y miembro fundador de los Vengadores. Siendo el hijo de Howard Stark y poseyendo un gran intelecto, Stark se volvió un inventor de armas mundialmente reconocido hasta que fue secuestrado por los Diez Anillos. 
      </p>
      <p>
        En su cautiverio, él diseñó un traje blindado para escapar de la organización, regresando a casa y convirtiéndose en el superhéroe conocido como Iron Man, luchando contra los terroristas y su ex compañero de negocios, Obadiah Stane. Stark gozó de la fama que le llegó con su nueva identidad secreta y decidió compartirla con el mundo, anunciando públicamente que él era Iron Man.
      </p>
    </section>
    <section class="main-info stacks">
      <div>
        <h1>Habilidades</h1>
        <ul>
          <li>Armas y artefactos tecnologicos</li>
          <li>Cargas de energia</li>
          <li>Volar</li>
        </ul>
      </div>
      <div>
        <h1>Debilidades</h1>
        <ul>
          <li>Depende del traje</li>
        </ul>
      </div>
    </section>
    <section class="galery">
      <h1>Galeria</h1>
      <div class="carrusel">
        <div class="carrusel-item">
          <img src="{% static 'imgs/ironman_actor.jpg' %}" alt="">
          <span>Iron Man (Actuado por Robert Downey Jr)</span>
        </div>
        <div class="carrusel-item">
          <img src="{% static 'imgs/ironman_comic.jpg' %}" alt="">
          <span>Iron Man (Comics)</span>
        </div>
        <div class="carrusel-item">
          <img src="{% static 'imgs/ironman_serie.jpg' %}" alt="">
          <span>Iron Man (Serie animada)</span>
        </div>
      </div>
    </section>
  </main>
{% endblock %}